@use '../base/' as base;
@use '../component/' as comp;

#pr07 {
	position: relative;
	overflow-x: hidden;

	.overlay {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: #808080;
		z-index: 1;
		cursor: pointer;
		transform: translate(0);
		transition: all 1s ease-in-out;
	}

	.overlay--hide {
		transform: translateX(-100vw);
		transition: all 2s 1.8s ease-in-out;
	}

	nav {
		height: auto;
		width: auto;
		transform: translateX(0);
		position: fixed;
		top: 10rem;
		left: 0;
		z-index: 2;
		margin: 1rem 0;
		transition: all 1s ease-in-out;

		ul {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: stretch;
			list-style-type: none;
			width: auto;

			li {
				border: 2px solid #fff;
				margin: 0 4rem;
				transition: all 0.4s;
				padding: 0.2rem 5rem;
				position: relative;

				// &:nth-child(1) {
				// 	animation: nav__items--slideIn 0.4s linear 1.6s both;
				// }
				// &:nth-child(2) {
				// 	animation: nav__items--slideIn 0.4s linear 0.4s both;
				// }
				// &:nth-child(3) {
				// 	animation: nav__items--slideIn 0.4s linear 0.6s both;
				// }
				// &:nth-child(4) {
				// 	animation: nav__items--slideIn 0.4s linear 0.8s both;
				// }
				// &:nth-child(5) {
				// 	animation: nav__items--slideIn 0.4s linear 1s both;
				// }
				// &:nth-child(6) {
				// 	animation: nav__items--slideIn 0.4s linear 1.2s both;
				// }
				// &:nth-child(7) {
				// 	animation: nav__items--slideIn 0.4s linear 1.4s both;
				// }

				&:hover {
					transform: translateY(-1rem);
					box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
				}

				&:active {
					transform: translate(0);
					box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
				}

				&:not(:last-child) {
					margin-bottom: 1rem;
				}

				&::before {
					content: '';
					height: 10%;
					width: 0%;
					position: absolute;
					top: 40%;
					left: 0;
					background-color: white;
					transition: all 0.4s;
				}

				&:hover::before {
					width: 20%;
				}

				&::after {
					content: '';
					height: 10%;
					width: 0%;
					position: absolute;
					top: 40%;
					right: 0;
					background-color: white;
					transition: all 0.4s;
				}

				&:hover::after {
					width: 20%;
				}

				a:link,
				a:visited {
					display: block;
					color: #fff;
					text-transform: uppercase;
					text-align: center;
					text-decoration: none;
					font-size: 2.1rem;
					cursor: pointer;
				}
			}
		}
	}
	.nav--hide {
		transition: all 2s 2s ease-in-out;
		transform: translateX(-200vw);
	}

	header {
		position: relative;

		#nav__menu__icon--container {
			display: inline-block;
			cursor: pointer;
			position: fixed;
			right: 2rem;
			top: 1rem;
			border: 2px solid #fff;
			border-radius: 30%;
			padding: 1rem;
			z-index: 6;
			transition: all 0.3s;

			&:active {
				background-color: red;
				color: red;
				transform: scale(0.9);
			}

			div {
				width: 3.5rem;
				height: 0.5rem;
				background-color: #fff;
				margin: 6px 0;
				transition: 0.4s;
				z-index: 2;
			}
		}

		.nav--open {
			.bar1 {
				transform: translate(0, 11px) rotate(-45deg);
			}
			.bar2 {
				opacity: 0;
			}
			.bar3 {
				transform: translate(0, -11px) rotate(45deg);
			}
		}
		h1 {
			height: 100vh;
			max-height: 100vh;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 3rem;
			text-transform: uppercase;
			background-image: url('../../assets/img/background01.avif');
		}
	}
	#home {
		height: 100vh;
		max-height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		background-image: url('../../assets/img/background02.avif');
		background-repeat: no-repeat;
		background-size: cover;
		font-size: 3rem;
		text-transform: uppercase;
	}
	#category {
		height: 100vh;
		max-height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		background-image: url('../../assets/img/background03.avif');
		background-repeat: no-repeat;
		background-size: cover;
		font-size: 3rem;
		text-transform: uppercase;
	}
	#guide {
		height: 100vh;
		max-height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		background-image: url('../../assets/img/background04.avif');
		background-repeat: no-repeat;
		background-size: cover;
		font-size: 3rem;
		text-transform: uppercase;
	}
	#tutorial {
		height: 100vh;
		max-height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		background-image: url('../../assets/img/background01.avif');
		background-repeat: no-repeat;
		background-size: cover;
		font-size: 3rem;
		text-transform: uppercase;
	}
	#overview {
		height: 100vh;
		max-height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		background-image: url('../../assets/img/background03.avif');
		background-repeat: no-repeat;
		background-size: cover;
		font-size: 3rem;
		text-transform: uppercase;
	}
	#cta {
		height: 100vh;
		max-height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		background-image: url('../../assets/img/background04.avif');
		background-repeat: no-repeat;
		background-size: cover;
		font-size: 3rem;
		text-transform: uppercase;
	}
	#footer {
		height: 100vh;
		max-height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		background-image: url('../../assets/img/background02.avif');
		background-repeat: no-repeat;
		background-size: cover;
		font-size: 3rem;
		text-transform: uppercase;
	}
}
